@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Jost:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

@import "./core//navbar";
@import "./pages/homepage";
@import "./core/footer";

// Variables
$primary-font: "Roboto", sans-serif;
$primary-background: #1f2028;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1.1px;
}

body {
  font-family: $primary-font;
  overflow: hidden;
  background-color: $primary-background;
  color: #fff;
  line-height: 1.1;
  height: 100vh;
}
